<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>各トピックのページ</h1>
    <h2>{{ topic.name }}</h2>
    <table>
        {% for message in messages %}
        <tr>
            <th>{{ message.content }}</th>
            <th>{{ message.created_at }}</th>
        </tr>
        {% endfor %}
    </table>
    <form action="{% url 'forum:forum' topic %}" method="POST">
        {% csrf_token %}
        <input type="text" name="send_message">
        <input type="submit" value="投稿">
    </form>
</body>
</html>