{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test.html</title>
    <link rel="stylesheet" href="{% static 'polls/css/test.css' %}">
</head>
<body>
    <h1>テストページ</h1>
    <p>名前：{{ name }}</p>
    <p>年齢：{{ age }}才</p>
    {% if age >= 18 %}
        <p>{{ name }}さんは{{ age }}才で成年です</p>
    {% else %}
        <p>{{ name }}さんは{{ age }}才で未成年です</p>
    {% endif %}
    <p>好物</p>
    <ol>
        {% for i in favorite %}
            <li>{{ i }}</li>
        {% endfor %}
    </ol>
    {# この下がハイパーリンク #}
    <a href="{% url 'polls:index' %}">トップページに戻る</a>
    {% comment %}
        <p>ダミー段落</p>
        <p>ダミー段落</p>
        <p>ダミー段落</p>
        <p>ダミー段落</p>
        <p>ダミー段落</p>
    {% endcomment%}
    <form action="https://example.com/" method="GET">
        <div>
            <p>テキスト</p>
            <input type="text" name="username">
            <p>パスワード</p>
            <input type="password" name="password">
        </div>
        <div>
            <p>ラジオ</p>
            <label><input type="radio" name="choice" value="A">A</label>
            <label><input type="radio" name="choice" value="B">B</label>
        </div>
        <div>
            <p>チェックボックス</p>
            <input type="checkbox" name="check" value="ア">ア
            <input type="checkbox" name="check" value="イ">イ
        </div>
        <div>
            <p>ファイル</p>
            <input type="file">    
            <p>テキストボックス</p>
            <textarea></textarea>
        </div>
        <div>
            <p>送信ボタン</p>
            <input type="submit">
        </div>
    </form>
</body>
</html>